/*  */

body {
  font-family: 'Roboto', sans-serif;
}

.header-link {
  width: 30px;
  height: 30px;
  margin: 0 2px;
}

.header-link:hover {
  background: #000 !important;
  color: #fff;
}

.header-logo {
  height: 50px;
}

.navbar-btn {
  position: relative;
  width: 45px;
  height: 45px;
}

.navbar-btn::before {
  position: absolute;
  inset: 0;
  content: '';
  background-image: url('../images/shape-2.png');
}

.navbar-qty {
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  font-size: 0.87rem;
  transform: translate(1px, -1px);
}

/* banner */

.banner {
  position: relative;
  background-image: url('../images/slider-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner::after {
  content: '';
  position: absolute;
  /* z-index: 1; */
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.banner-content {
  position: relative;
  z-index: 1;
  max-width: 766px;
  padding: 100px 0;
}

.banner-welcome {
  color: #fb7223;
  font-family: 'Parisienne', cursive;
  font-size: 3.4rem;
}

.banner-title {
  font-family: 'Lobster Two', cursive;
  font-size: 4.2rem;
}

.btn-banner:hover {
  background: var(--color-orange);
  border-color: var(--color-orange) !important;
}

.btn-slider {
  z-index: 1;
  width: 54px;
  height: 54px;
  background: rgba(255, 255, 255, 0.3);
}

.btn-slider:hover {
  background: #fff;
  color: var(--color-primary) !important;
}

.btn-slider-left {
  left: 40px;
}

.btn-slider-right {
  right: 40px;
}

/* menu */

.menu {
  font-family: lobster two, cursive;
}

.menu-food {
  width: 50px;
}

/* banner - 2 */

.banner-2-card {
  max-width: 340px;
  min-width: 200px;
}

.banner-2-card > h2 {
  font-family: lobster two, cursive;
}

.banner-3 .banner-image-1 {
  z-index: 0;
  opacity: 0.1;
  transform: translate(-70px, -100px);
}

.banner-3 .banner-image-2 {
  z-index: 0;
  opacity: 0.1;
  transform: translateX(80px);
}

.our-menu {
  position: relative;
  background: url('../images/bg-1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.our-menu .our-menu-box-img {
  width: 88px;
  height: 88px;
}

.our-menu .our-menu-price {
  border-left-style: dashed !important;
}

.our-menu-card {
  transition: linear 0.3s;
}

.our-menu-card:hover {
  transform: translateY(-8px);
}

/*  */

.features {
  position: relative;
  background: #080808;
  overflow: hidden;
}

.features::before {
  content: '';
  position: absolute;
  top: 0;
  left: -80px;
  width: 500px;
  height: 500px;
  background-image: url('../images/03.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.features::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -90px;
  width: 500px;
  height: 500px;
  background-image: url('../images/05.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.feature-title {
  font-size: 2.5rem;
}

.feature-card {
  position: relative;
  background: #101010;
  transition: linear 0.3s;
  z-index: 1;
}

.feature-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: var(--color-primary);
  transition: linear 0.3s;
}

.feature-card-img {
  width: 60px;
}

.feature-card:hover {
  transform: translateY(-8px);
}

.feature-card:hover::after {
  width: 100%;
}

.our-shop {
  background: #f1f1f1;
}

.our-shop-image::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: #000;
  background: rgba(251, 114, 35, 0.7);
  z-index: 2;
  opacity: 0;
  animation: card-shop-out ease-out 0.4s forwards;
}

/* .our-shop-image::after { */
/* } */

.our-shop-image:hover::after {
  animation: card-shop-in ease-out 0.4s forwards;
}

.our-shop-menu {
  z-index: 2;
  top: 60px;
  /* left: 40px; */
  left: 20px;
  opacity: 0;
  transition: linear 0.4s;
}

.our-shop-image:hover ~ .our-shop-menu {
  left: 40px;
  opacity: 1;
}

.our-shop-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  padding: 0;
  border: 0;
  display: flex;
  margin: 12px 0;
  transition: 0.3s linear;
}

.our-shop-menu .btn .icon {
  margin: auto;
  fill: var(--color-primary);
  color: var(--color-primary);
}

.our-shop-menu .btn:hover {
  background: var(--color-primary);
}

.our-shop-menu .btn:hover .icon {
  fill: #fff;
  color: #fff;
}

.our-shop-badge-sale {
  top: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.our-shop-price {
  font-size: 1.1rem;
}

@keyframes card-shop-in {
  0% {
    opacity: 0;
    margin: 20px;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}

@keyframes card-shop-out {
  100% {
    opacity: 0;
    margin: 20px;
  }
  0% {
    margin: 0;
    opacity: 1;
  }
}

.video {
  position: relative;
  padding: 200px 0;
  background-image: url('../images/020.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.video::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.video-play-btn {
  width: 75px;
  height: 75px;
  text-decoration: none;
  animation: video-btn-animation 1s linear infinite;
}

.video-play-btn .icon {
  margin: auto;
  font-size: 1.4rem;
}

/*  */

.food-banner-item {
  width: 100px;
  height: 100px;
}

.food-banner-item::before {
  content: '';
  position: absolute;
  inset: -16px;
  border: 2px solid var(--color-yellow);
  border-radius: 50px;
}

.food-banner-img {
  width: 60px;
  height: 60px;
}

.food-banner-number {
  font-size: 3.2rem;
}

@keyframes video-btn-animation {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(192, 20, 39, 0.7);
  }
  100% {
    box-shadow: 0px 0px 0px 16px rgba(192, 20, 39, 0.05);
  }
}

/*  */

.deal-banner {
  background-image: url(../images/027.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.deal-banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

/*  */

.work::before {
  content: '';
  position: absolute;
  top: 0;
  left: -80px;
  background-image: url(../images/04.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  z-index: -1;
  opacity: 0.1;
}

.work-card-dash::after {
  content: '';
  position: absolute;
  border-bottom: 2px dashed #fb7223;
  width: 110px;
  height: 2px;
  left: 83%;
  top: 50px;
  /* transform: translateX(-50%); */
}

.work-image {
  box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
  /* background: #000; */
  width: 100px;
  height: 100px;
}

.work-image > img {
  height: 50px;
  height: 50px;
}

.work-badge {
  width: 35px;
  height: 35px;
  line-height: 35px;
  left: -3px;
  top: -13px;
  border-radius: 33% 66% 70% 30%/49% 62% 38% 51%;
}

/*  */

.btn-delivery {
  box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
}

.btn-delivery:hover {
  background: #fff;
  color: var(--color-orange) !important;
}

/*  */

.testimonials {
  background: #f1f1f1;
  z-index: -1;
}

.testimonials:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -80px;
  width: 500px;
  height: 500px;
  background-image: url(../images/06.png);
  opacity: 0.1;
  /* z-index: 2; */
}

.testimonials::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: -80px;
  width: 500px;
  height: 500px;
  background-image: url(../images/08.png);
  opacity: 0.1;
  z-index: -1;
}

.testimonials-card::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 40px;
  width: 45px;
  height: 45px;
  background: #000;
  transform: rotate(45deg);
  border-radius: 4px;
  /* z-index: 1; */
  background: var(--color-orange);
}

.testimonials-card-img {
  position: absolute;
  /* z-index: 1; */
  width: 150px;
  height: 150px;
  bottom: 0;
  right: 20px;
  opacity: 0.2;
}

.testimonials-content {
  padding-top: 30px;
  padding-left: 20px;
}

.testimonials-avt {
  width: 80px;
  height: 80px;
  padding: 5px;
  border: 2px dashed var(--color-orange);
  border-radius: 50%;
}

.testimonials-avt img {
  border-radius: 50%;
}

.testimonials-page > span {
  display: inline-block;
  height: 8px;
  width: 8px;
  background: var(--color-yellow);
  border-radius: 7px;
  margin: 0 3px;
}

.testimonials-page > span.testimonials-page-active {
  width: 25px;
  height: 7px;
}

/*  */

.our-blog-card {
  box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
  transition: linear 0.3s;
}

.our-blog-btn:hover {
  color: var(--color-primary) !important;
}

.our-blog-card span:hover,
.our-blog-card h5:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.our-blog-card:hover {
  transform: translateY(-10px);
}

/* footer */

footer {
  background: #080808;
}

.footer-top {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.1);
}

.footer-link-home {
  display: inline-block;
  height: 50px;
}

.footer-link-home > img {
  height: 50px;
}

.footer-link-contact {
  padding: 6px 0;
}

.footer-link-contact .icon {
  width: 20px;
}

.footer-link-buy > img {
  border-radius: 5px;
}

.footer-heading::before {
  content: '';
  position: absolute;
  bottom: -20px;
  height: 2px;
  width: 12px;
  background: var(--color-primary);
}

.footer-heading::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 18px;
  height: 2px;
  width: 30px;
  background: var(--color-primary);
}

.footer-list li {
  padding: 8px 0;
  transition: linear 0.3s;
}

.footer-list {
  list-style: none;
}

.footer-list a {
  text-decoration: none;
  color: #fff;
  transition: linear 0.3s;
}

.footer-list li:hover {
  transform: translateX(10px);
}

.footer-list li:hover a {
  color: var(--color-primary);
}

.footer-list i {
  color: var(--color-primary);
  width: 14px;
}

.footer-time {
  position: relative;
  background: #101010;
  border-radius: 12px;
}

.footer-time::before {
  content: '';
  position: absolute;
  height: 8px;
  border-radius: 50px;
  background: #080808;
  left: 50px;
  right: 50px;
  top: 10px;
}

.footer-time::after {
  content: '';
  position: absolute;
  height: 8px;
  border-radius: 50px;
  background: #080808;
  left: 50px;
  right: 50px;
  bottom: 10px;
}

.footer-btn:hover {
  background: #fff;
  color: var(--color-primary) !important;
  border-color: #fff !important;
}

.footer-social > a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 38px;
  height: 38px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  text-align: center;
  transition: linear 0.3s;
  margin-right: 8px;
}

.footer-social > a > i {
  line-height: 34px;
}

.footer-social > a:hover {
  background: var(--color-primary);
}

.footer-link-other > a {
  text-decoration: none;
  color: #fff;
  padding-left: 22px;
  transition: linear 0.3s;
}

.footer-link-other > a:hover {
  color: var(--color-primary);
}

/* scroll */

.btn-scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background: var(--color-primary);
  border-radius: 50%;
  text-align: center;
  z-index: 3;
}

.btn-scroll::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: scale(1.25);
  /* background: #000; */
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.btn-scroll > i {
  line-height: 45px;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .our-menu .our-menu-box-img {
    width: 68px;
    height: 68px;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    height: 30px;
  }

  .banner-welcome {
    font-size: 1.4rem;
  }

  .banner-title {
    font-size: 2.2rem;
  }

  .btn-slider {
    position: relative !important;
    bottom: 40px;
  }

  .btn-slider-left {
    left: 40px;
  }

  .btn-slider-right {
    right: unset;
    left: 60px;
  }

  .our-menu .our-menu-box-img {
    width: 100%;
    height: unset;
  }

  .our-menu .our-menu-price {
    border-style: none !important;
  }
}
